name: flutter_ducky_app
description: A Flutter app for DuckyScript creation with Material You design
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: ^0.20.2
  dynamic_color: ^1.6.2
  flutter_oss_licenses: ^2.0.1
  file_picker: ^8.0.3
  file_saver: ^0.2.12
  share_plus: ^7.2.1
  path_provider: ^2.1.1
  shared_preferences: ^2.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  generate: true
  assets:
    - assets/img/